body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  background-color: rgb(199, 195, 195);
}

 .cards{
  width: 100%;
  height: auto;
   
 }

 .card{
  margin: 6%;
  background-color: azure;
  width:21%;
   float: left;
   
  border-radius: 12px;
   

 }
 .card_img{
   
  width: 100%;
  height: 50%;
  border-top-left-radius: 12px;
  border-top-left-radius: 12px;
 }

  .card_info{
    background-color: ghostwhite;
    padding: 16px;
    border-top-left-radius: 12px;
  border-top-left-radius: 12px;
 
  }

